code/config.h
code/.vs
code/Debug
code/__vm
TestResults
code/*/bin
code/*/obj
code/*/Debug
code/*/Release
code/*/Win32
code/*/x64
code/packages/*

code/tests/app.config
code/tests/Properties/Settings.Designer.cs
code/tests/Properties/Settings.settings

code/DvlErrLog.txt
*.user

**/*.sch-bak
**/*.net
**/*.kicad_pcb-bak
*-cache.lib
**/fp-info-cache
**/fp-lib-table
**/sym-lib-table
**/#auto_saved_files#
**/_autosave*
board/cheapbmc-backups
keys/ca
keys/client

*.FCStd1
__pycache__
*.gcode
*.png
enclosure/exported*
enclosure/exportutils.py
